*{
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background{
    width:100%;
    max-width: 1200px;
    position: absolute;
    top:0;
    left:0;
    z-index:1;
}
.container {
    width: 340px;
    height: 540px;
    border-ra
}