.qustionItem {
  display: flex;
  align-items: center;
  padding: 19px 30px 20px;
  gap: 30px;
}
.qustionItem .info {
  flex: 1 1;
}
.qustionItem .title {
  font-size: 14px;
  font-weight: 500;
  color: #494949;
}
.qustionItem .title a {
  font-family: var(--noto-sans);
}
.qustionItem .title .count {
  margin-left: 5px;
  color: #fe92ab;
}
.qustionItem .date {
  margin: 0;
  font-size: 12px;
  color: #c4c4c4;
}
.qustionItem .writer {
}
